/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Default*/
:root {
  --cor1: #0E7373;
  --cor2: #17A6A6;
  --cor3: #9AD9CD;
  --cor4: #F2EFBD;
  --cor5: #8C3535;
  --white: #ffffff;
  --black: #000000;
}

html{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body{
  background-color: var(--cor4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

canvas {
  background-color: var(--white);
  border: .4rem solid var(--cor5);
  border-radius: 1rem 1rem 0 0;
  width: 90%;
  height: 90%;
}

.toolbox {
  background-color: var(--cor5);
  width: 800px;
  display: flex;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
}

.toolbox > * { /* > * para pegar todos os itens filhos do toolbox*/
  background-color: var(--white);
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  height: 5rem;
  width: 5rem;
  margin: .25rem;
  padding: .25rem;
  cursor: pointer;
}

.toolbox >*:last-child {
  margin-left: auto;
}

button:active {
  transform: scale(0.98);
}

/* @media (max-width: 500px) {
  canvas {
    width: 300px;
    height: 500px;
  }

  .toolbox {
    width: 300px;
  }
} */